@{
    ViewBag.Title = "Update";
}
@model ILB.ApplicationServices.Contacts.UpdateContactQueryResult

<h2>Update Contact</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.Command.Id)
    <div>
        @Html.LabelFor(q => q.Command.FirstName)
        @Html.TextBoxFor(q => q.Command.FirstName)
        @Html.ValidationMessageFor(q => q.Command.FirstName)
    </div>

    <div>
        @Html.LabelFor(q => q.Command.Surname)
        @Html.TextBoxFor(q => q.Command.Surname)
        @Html.ValidationMessageFor(q => q.Command.Surname)
    </div>
    <div>
        @Html.LabelFor(q => q.Command.Address1)
        @Html.TextBoxFor(q => q.Command.Address1)
        @Html.ValidationMessageFor(q => q.Command.Address1)
    </div>
    <div>
        @Html.LabelFor(q => q.Command.Address2)
        @Html.TextBoxFor(q => q.Command.Address2)
        @Html.ValidationMessageFor(q => q.Command.Address2)
    </div>
    <div>
        @Html.LabelFor(q => q.Command.CountyId)
        @Html.DropDownListFor(q => q.Command.CountyId, Model.Counties.Select(q=> new SelectListItem() { Text = q.Name, Value = q.Id.ToString() }))
        @Html.ValidationMessageFor(q => q.Command.CountyId)
    </div>    
    <div>
        @Html.LabelFor(q => q.Command.CountryId)
        @Html.DropDownListFor(q => q.Command.CountryId, Model.Countries.Select(q=> new SelectListItem() { Text = q.Name, Value = q.Id.ToString() }))
        @Html.ValidationMessageFor(q => q.Command.CountyId)
    </div>
    <input type="submit" value="Save"/>    
}
